.filtered-list 
  background: -moz-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(at 120% 26%, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%);

  .thumb-col
    padding-top 15px
    padding-bottom 15px

  img
    max-width 100%

.filter-form
  background-color #212223

  input
    // position: absolute
    // margin: 4px 0

  label
    // padding-left: 15px;