
.profile-card
  margin 60px 0
  text-align: center

  .btn-col
    @media (min-width: 992px)
      display block

    display: none

  .avatar-col
    @media (min-width: 576px)
      margin 0
    
    @media (min-width: 992px)
      .btn
        display none

    max-width 220px
    margin 0 auto

  .btn
    @media (min-width: 992px)
      margin-top 20%

    color: #000;
    background-color: #fff;
    border-color: #fff;
    text-transform uppercase
    padding: 3%;
    margin-top: 20px