@import "../../../stylus/variables"
  
.page-hero
  @media (min-width: $grid-md)
    min-height 200px
  @media (min-width: $grid-lg)
    min-height 300px
    padding 30px 0

  background-size cover
  min-height 120px
  background-repeat no-repeat
  background-position center center

  .page-hero-title
    @media (min-width: $grid-md)
      font-size 50px

    font-family "Poppins"
    padding 20px 0