@import "bootstrap";
@import "variables"

.container
  max-width 1280px

/* about us */
.about-us__hero
  text-align: center
  height: 386px

  .container
    max-width: 600px

    p
      max-width 500px
      margin 0 auto

.about-us__text-block,
.our-solutions__text-block.text-block
  padding 40px 0

  p
    max-width 512px
    margin-right auto
    margin-left auto

.carousel-component
  .carousel-caption
    bottom: auto;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding 0 
    max-width: 500px
    width 100%
    padding 0 15px

.our-clients
  background: -moz-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(at 120% 26%, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%);
  
  .text-block h2
    font-size 60px

  .client-logos
    max-width: 100%
    display block
    margin 50px 0

/* portfolio */
.filtered-list 
  background: -moz-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
  background: -webkit-radial-gradient(120% 26%, ellipse cover, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(at 120% 26%, rgba(98,118,226,1) 0%,rgba(255,255,255,0) 70%);

  .thumb-col
    padding-top 15px
    padding-bottom 15px

  img
    max-width 100%

.filter-form
  background-color #212223

  input
    position: absolute
    margin: 4px 0

  label
    padding-left: 15px;

.ReactModal__Content.modal
  display: block
  max-width 700px
  height auto
  right auto
  bottom auto
  top 50%
  left 50%
  width 100%
  transform: translate(-50%, -50%)
  color: #fff

  .close
    background none
    color #fff
    border 0
    font-size 22px

  .modal-header
    border 0
  
  .modal-body
    padding-top 0
  

  .modal-content
    background: #000

.ReactModal__Overlay.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8)
}

.ReactModal__Body--open
  overflow hidden
  height 100%

.short__hero.page-hero
  min-height 120px

/* contact us */
.contact-form 
  max-width: 552px
  padding 40px 0

  .submit-btn
    float: right

.contact-us-info
  padding 40px 0 0 0

  h6
    font-weight: 800