.contact-item
  &__addr
    background: url('/images/icon-address.jpg') top left no-repeat;
    padding-left 55px

  &__phone
    background: url('/images/icon-phone.jpg') top left no-repeat;
    padding-left: 55px
  
  &__email
    background: url('/images/icon-email.jpg') top left no-repeat;
    padding-left: 55px

.contact-form 
  max-width: 552px
  padding 40px 0

  .submit-btn
    float: right
    background-color white
    color black
    text-transform: uppercase

.contact-us-info
  padding 40px 0 0 0

  a
    text-decoration: underline
    color: white

  h6
    font-weight: 800
    margin-bottom: 0


